header {
    margin: 20px 30px;
}

body {
    font-family: 'Nixie One', cursive;
    margin: 30px 50px;
}

#main-title {
    font-family: 'Londrina Outline', cursive;
}

#main-title-span {
    color: #FFC300;
    font-size: 35px;
}

#top-nav {
    text-align: right;
    padding: 0px 30px;
}


#btm-nav {
    text-align: center;
}

.btm-links {
    font-size: 15px;
}

#main-pic {
    height: 100%;
    width: 100%;
}

#main-pic:hover {
    cursor: pointer;
    opacity: 0.7;
}

a {
    padding: 0px 20px;
    color: black;
}

#new-content {
    display: flex;
    align-content: center;
    padding: 20px 0px 60px 0px;
}

figure {
    margin: 20px 10px 50px 10px; 
    display: block;
    height: 200px;
    width: 200px;
    /* align-self: center; */
}

figure:hover {
    opacity: 0.7;
    cursor: pointer;
    font-size: 18px;
    background-color: lavender;
}

figcaption {
    font-family: 'Nixie One', cursive;
}

ul {
    list-style-type: none;
    display: inline-block;
}

main {
    margin: 0px 50px 0px 50px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.articles {
    display: flex;
    margin: 50px 10px;
}

section {
    margin: 0px 10px;
}

date {
    font-style: italic;
    color: grey;
    font-size: 15px;
}

a {
    text-decoration-line: none;
    font-size: 18px;
}


.top-links:hover {
    color: grey;
    cursor: pointer;
    font-size: 20px;
    background-color: RGBa(255, 215, 0, 0.3)
    /* RGBa(242, 243, 244, 0.3) */
}

.btm-links:hover {
    color: grey;
}

.cont-links {
    color: grey;
    font-size: 15px;
    /* align-content: right; */
    align-self: right;
}
.cont-links:hover {
    color:black;
    text-decoration-line: underline;
    font-style: italic;
    font-size: 15px;
}

.article-header {
    font-family: 'Londrina Outline', cursive;
}

#connect {
    text-align: center;
    font-size: 20px;
    color: grey;
}

#site-name {
    font-family: 'Londrina Outline', cursive;
}

#site-name:hover {
    cursor: pointer;
    font-size: 40px;
}

#connect-icons {
    align-self: center;
}

a.connect-icons:hover .title {
    display:block;
}
.fa {
    padding: 5px;
    font-size: 30px;
    width: 50px;
}

#connect-icons {
    text-align: center;
    margin: 0px 0px 60px 0px;
}

icon:hover .fa {
    opacity: 0.5;

}

p:first-letter {
    font-weight: bolder;
}
